@keyframes opacidadeTransition {
  0% {
    opacity: 1;
    transition: all ease 1s;
  }

  50% {
    opacity: 0.3;
    transition: all ease 1s;
  }

  100% {
    opacity: 1;
    transition: all ease 1s;
  }
}

.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 2s;
  animation: opacidadeTransition 2s infinite;
}

.notFound>h1:nth-child(2) {
  font-size: 50px;
}